body {
	
}
.backimage {
	width: 100%;
	height: 800px;
	position: absolute;
	overflow: hidden;
}
.backimage img{
	width: 100%;
}

nav {
	list-style: none;
	padding-top:10px;
	padding-bottom: 10px;
	position: relative;
	background-color: #ffffff;
	opacity: .9;
	width: 100%;
	height: 90px;
}
.logo {
	float: left;
	padding-top: 5px;
	padding-left: 100px;
}
.logo img {
	width: 100%;
}
.links {
	float: right;
	padding-top: 40px;
}
nav li {
	display: inline;
	float: left;
	padding-top: 0px;
}
nav a {
	text-decoration: none;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 20px;
	margin: 30px;
	color: teal;
}
h1 {
	position: relative;
	color: #CC297A;
	padding-top: 620px;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	font-size: 46px;
	padding-left: 50px;
}
.clearfix {
	clear: both;
}
.aboutmain {
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
}
.aboutmain h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
}
h2 {
	padding-top: 50px;
}

h3 {
	font-family: 'Helvetica Neue';
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
h4 {
	font-family: 'Helvetica Neue';
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
p {
	font-family: 'Helvetica Neue';
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.whyitmatters {
	background-color: #CC297A;
	height: 400px;
}
.whyitmatters img {
	width: 18%;
	padding-top: 120px;
	float: left;
}
.whyitmattersimage {
	width: 900px;
	margin: 0 auto;
}
.whyitmatters h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: white;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 60px;
}
.whyitmatters h3 {
	color: white;
}
.whyitmatterstext {
	padding-top:70px;
	padding-bottom: 50px;
	width: 600px;
	margin-left: 250px;

}
footer {
	background-color: grey;
	padding-top: 150px;
	padding-bottom: 150px;
}
h6 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 12px;
	

}
.headerprograms h1 {
	padding-top: 580px;
}
.programsmain {
	height:1300px;
	width:1320px;
	margin: 0 auto;
}
.programsmain h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 150px;
	padding-bottom: 30px;
}
.columnone {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;

}
.columntwo {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.columntwo img {
	padding-left: 130px;
	padding-top: 30px;
}
.columnthree {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.mainclubs {
	width:900px;
	margin: 0 auto;
}
.mainclubs h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 80px;
	padding-bottom: 30px;
}
.clublist li {
	list-style: circle;
	margin-left: 100px;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	padding-top: 10px;
}
.maingetinvolved {
	background-color: blue;
	width:400px;
	height: 500px;
}
.maingetinvolved h4 {
	padding-top: 200px;
	margin: 50px;
	text-align: center;
}










