@media all and (min-width:320px) {

header img {
	width: 40%;
	padding: 10px;
}

nav {
	background-color: rgba(0,0,0,.2);
	display: none;
}
nav ul li {
	border-bottom: 1px solid rgba(203,38,95,.9);
}
nav ul li a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	color: rgba(203,38,95,.9);
	padding: 10px;
	padding-left: 30px;
	display: block;
	text-decoration: none;
	/*text-align: center;*/
	font-weight: 500;

}
#navBtn {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	border: 1px solid black;
	color: rgba(203,38,95,.9);

}
.navActive {
	background-color: rgba(0,0,0,.2);
}

.backimage img{
	width: 100%;
}
h1 {
	color: #CC297A;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	font-size: 30px;
	padding: 10px;
	padding-left: 30px;
	display: none;
}

main {
	
}
.aboutmain {
	padding: 20px;
}


h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 40px;
	padding: 20px;
}

h3 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 25px;
}
h4 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
p {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}
.columntwo {
	text-align: center;
	background-color: rgba(0,0,0,.2);
}
.columntwo img {
	padding-top: 30px;
	padding-bottom: 30px;
}

.questions {
	font-weight: 700;
}

.clublist ul {
	padding-left: 40px;
}
.clublist li {
	list-style: circle;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

aside {
	background-color: #CC297A;
}
aside .whyitmatters {
	padding: 20px;
	text-align: center;
}
.whyitmatters img {
	width: 50%;
	text-align: center;
	padding: 25px;
}
footer {
	background-color: rgba(0,0,0,.2);
	height: 300px;
}
h6 {
	padding: 50px;
	padding-top: 120px;
	text-align: center;
}

.getinvolvedmain {
	padding: 20px;
	text-align: center;
}

.getinvolvedmain h4 {
	text-align: center;
}

.my-button{
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background-color: #CC297A;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	text-align: center;

}
.my-button:hover{
  background-color: grey;
}

.contactus {
	margin-top: 20px;
	margin-bottom: 20px;
}

.contactus h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 40px;
	padding: 20px;
	padding-top: 40px;

}
.donatebutton {
	width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	background-color: #CC297A;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Helvetica Neue';
	font-size: 24px;
}

.donatebutton:hover {
	background-color: grey;
}

form {
	font-size: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
	display: inline;
	line-height: 40px;
}

input {
	height: 35px;
	border: 1px solid black;
	width: 300px;
}

textarea#comment {
	width: 300px;
	height: 150px;
}


} /*----------------------------------------mobile style------------------------------------------------------------- */

@media all and (min-width: 980px) {
header img{
	width: 20%;
	float: left;
}
nav {
	background-color: red;
}
nav ul li {

}
nav ul li a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	color: rgba(203,38,95,.9);
	padding: 10px;
	padding-left: 30px;
	text-decoration: none;
	/*text-align: center;*/
	font-weight: 500;
	float: right;
	background-color: blue;

}

.logo {
	float: left;
	padding-top: 5px;
	padding-left: 100px;
}
.logo img {
	width: 100%;
}
.links {
	float: right;
	padding-top: 40px;
}


h1 {
	position: relative;
	color: #CC297A;
	padding-top: 1000px;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	font-size: 46px;
	padding-left: 50px;
}
.clearfix {
	clear: both;
}
.aboutmain {
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
}
.aboutmain h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
}
h2 {
	padding-top: 50px;
}

h3 {
	font-family: 'Helvetica Neue';
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
h4 {
	font-family: 'Helvetica Neue';
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
p {
	font-family: 'Helvetica Neue';
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.whyitmatters {
	background-color: #CC297A;
	height: 400px;
}
.whyitmatters img {
	width: 18%;
	padding-top: 120px;
	float: left;
}
.whyitmattersimage {
	width: 900px;
	margin: 0 auto;
}
.whyitmatters h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: white;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 60px;
}
.whyitmatters h3 {
	color: white;
}
.whyitmatterstext {
	padding-top:70px;
	padding-bottom: 50px;
	width: 600px;
	margin-left: 250px;

}
footer {
	background-color: grey;
	padding-top: 150px;
	padding-bottom: 150px;
}
h6 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 12px;
	

}
.headerprograms h1 {
	padding-top: 580px;
}
.programsmain {
	height:1300px;
	width:1320px;
	margin: 0 auto;
}
.programsmain h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 150px;
	padding-bottom: 30px;
}
.columnone {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;

}
.columntwo {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.columntwo img {
	padding-left: 130px;
	padding-top: 30px;
}
.columnthree {
	width: 400px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.mainclubs {
	width:900px;
	margin: 0 auto;
}
.mainclubs h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 80px;
	padding-bottom: 30px;
}
.clublist li {
	list-style: circle;
	margin-left: 100px;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	padding-top: 10px;
}
.maingetinvolved {
	width:900px;
	margin: 0 auto;
	height: 1450px;
}
.maingetinvolved h4 {
	padding-top: 50px;
	margin: 50px;
	text-align: center;
}
.maingetinvolved h2 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
	padding-top: 150px;
	padding-bottom: 30px;
}
.my-button{
	width: 700px;
	margin-left: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background-color: #CC297A;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	text-align: center;

}
.my-button:hover{
  background-color: grey;
}

.contactus {
	width: 900px;
	margin: 0 auto;
	height:550px;
	position: bottom;
}
.rightside {
	height:400px;
	width:400px;
	float: left;
}
.donatebutton{
	width: 200px;
	margin-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	background-color: #CC297A;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Helvetica Neue';
	font-size: 24px;
	text-align: center;

}
.form {
	height: 400px;
	width: 500px;
	float: left;
}
.form p {
	text-align: center;
}
.rightside h3 {
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: grey;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-size: 50px;
}
.rightside p {
	text-align: center;
	font-size: 25px;
}
form {
	margin-left:50px;
	position:relative;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	line-height: 24px;
	color: #09C;
	text-decoration: none;
	border-radius: 10px;
	padding:5px;
}
input {
	width:400px;
	display:block;
	border: 1px solid #999;
	height: 30px;
}

textarea#comment {
	width:400px;
	height:150px;
}

} /*-----------------------------------------------------desktop styles------------------------------------------------- */







